<div class="transactions-list" ng-switch="$ctrl.currentTab">
  <md-tabs
    tabindex="-1"
    class="subnav"
    md-no-ink-bar="true"
    md-center-tabs="true">
    <md-tab
      ng-repeat="tab in $ctrl.subnav"
      label="{{tab.label}}"
      ng-click="$ctrl.currentTab = tab.id"
      tabindex="-1"
      aria-label="tab.label"></md-tab>
  </md-tabs>

  <div class="transactions-header">
    <md-icon md-svg-icon="print"></md-icon>
  </div>

  <searchable-transactions
    transactions="$ctrl.activity.transactions"
    limit-to="40"
    increment-by="40"
    ng-switch-when="transactions">
  </searchable-transactions>

  <online-statements
    ng-switch-when="statements">
  </online-statements>

  <activity-additional-info
    ng-switch-when="info">
  </activity-additional-info>

  <div ng-switch-when="prefs">
    <h2>Alerts &amp; Preferences</p>
  </div>
</div>
