<h2>Online Statements</h2>
<ul class="online-statements">
  <li
    ng-repeat="year in $ctrl.onlineStatements.years"
    ng-class="year.open ? 'open': ''">
    <div ng-click="$ctrl.toggleYear(year.year)">
      {{year.year}}
      <md-icon md-svg-icon="chevron-down" ng-if="year.open"></md-icon>
      <md-icon md-svg-icon="chevron-right" ng-if="!year.open"></md-icon>
    </div>
    <ul>
      <li ng-repeat="month in year.months">
        <a ng-href="{{$ctrl.getPDF(month)}}" target="_blank">
          {{month.name}}
          <span class="view-statement">
            View
            <md-icon md-svg-icon="pdf"></md-icon>
          </span>
        </a>
      </li>
    </ul>
  </li>
</ul>
