<div id="dashboardDetail" class="detail-view" ng-if="$ctrl.isActive"
  role="dialog" tabindex="-1" aria-label="Details" on-escape="$ctrl.onDeactivate()">

  <div class="detail-view-content">

    <md-button ng-click="$ctrl.onDeactivate()"
      tabindex="0"
      class="md-icon-button close-button"
      aria-label="Close">
      <md-icon md-svg-icon="close"></md-icon>
    </md-button>

    <div class="navbar-container">
      <md-tabs
        md-selected="$ctrl.selectedIndex"
        md-center-tabs="true"
        ng-if="!$ctrl.hideNavbar">
        <md-tab
          tabindex="-1"
          aria-label="{{tab.title}}"
          ng-repeat="tab in $ctrl.tabs"
          ng-click="$ctrl.onTabChange({ tab: tab.name })">
          <md-tab-label>
            {{ tab.title }}
            <md-icon md-svg-icon="chevron-down"
             ng-if="::tab.name === 'activity'"></md-icon>
          </md-tab-label>
        </md-tab>
      </md-tabs>
    </div>

    <div class="slide-container">
      <ui-view name="detail" ng-class="$ctrl.transition"></ui-view>
    </div>

  </div>
</div>
