<div class="widget" ng-class="{'large': $ctrl.pinned}">
  <div class="widget-title">{{$ctrl.widget}}</div>

  <!-- widget content area (TODO: transclusion) -->
  <div class="widget-body" ng-transclude></div>

  <!-- widget actions area -->
  <div class="widget-actions" role="navigation" aria-label="Dashboard Navigation">
    <md-button class="md-accent" ng-click="$ctrl.onOpenDetail({ widget: $ctrl.widget })">
      View Detail
      <md-icon md-svg-icon="chevron-right" role="icon"
        aria-label="chevron-right"></md-icon>
    </md-button>
  </div>

</div>
