<div class="full-account-container">
  <div class="full-account-header">
    View Full Account and Routing Information
  </div>
  <div class="show-number-container">
    <md-button type="button" class="md-accent back" back-button
      ng-if="!$ctrl.isPasswordVerified">
      <md-icon md-svg-icon="chevron-left" role="icon"
        aria-label="chevron left">
      </md-icon>
      Back
    </md-button>
    <div class="show-number-header">Show Full Account Number</div>
    <div class="progress-bar-dots">
      <ol>
        <li id="progress-bar-dot-1"
            ng-class="{ 'past': $ctrl.isPasswordVerified, 'present':!$ctrl.isPasswordVerified }">
          <p>
            <span ng-if="!$ctrl.isPasswordVerified" class="present">1</span>
            <span ng-if="$ctrl.isPasswordVerified" class="past" aria-hidden="true">&#10004;</span>
          </p>
        </li>
        <li id="progress-bar-dot-2"
            ng-class="{ 'future': !$ctrl.isPasswordVerified, 'present':$ctrl.isPasswordVerified }">
          <p>
            <span ng-if="!$ctrl.isPasswordVerified" class="future">2</span>
            <span ng-if="$ctrl.isPasswordVerified" class="present">2</span>
          </p>
        </li>
      </ol>
    </div>
    <verify-password ng-if="!$ctrl.isPasswordVerified" on-verify="$ctrl.getRoutingInfo()"></verify-password>
    <account-number-detail ng-if="$ctrl.isPasswordVerified" routing-info="$ctrl.routingInfo"></account-number-detail>
  </div>
</div>
