@import '_colors';

.full-account-header {
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 3.6rem;
  padding: 6rem;
  text-align: center;
}

.show-number-container {
  background-color: $white;
  border: 0.5rem solid $gray-ab;
  margin: 0 auto 5rem;
  min-height: 35rem;

  .back {
    min-width: 0;

    md-icon {
      fill: $cfi-lightest-blue;
    }
  }
}

.show-number-header {
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 3.6rem;
  margin: 1rem 0;
  text-align: center;
}

.progress-bar-dots {
  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 3rem;
    justify-content: center;
    margin: 4rem auto;
    padding: 0;
    position: relative;
    width: 29rem;
  }

  li {
    border-radius: 1.5rem;
    color: $white;
    display: inline-block;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 2rem;
    overflow: hidden;
    width: 3rem;

    &.past {
      background-color: $gray-23;
    }

    &.present {
      background-color: $wbb-green;
    }

    &.future {
      border: 0.1rem solid $gray-ab;
      color: $gray-ab;
    }

    p {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 1.4rem;
      height: 100%;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}
