@import '../common/colors';
@import '../common/variables';

.cashflow-preview {
  margin: 1.5rem 0 0.5rem;

  text {
    font-family: PNCSans;
    font-size: $chart-font-size-lg;
  }

  .bottom-axis {
    text-anchor: end;

    g:first-of-type {
      text-anchor: start;
    }
  }

  .area-forecast {
    fill: $chart-green;
    fill-opacity: 0.5;
  }

  .area-confirmed {
    fill: $chart-green;
  }

  .circle-today {
    fill: $chart-gray-darker;
  }

  .label-today {
    fill: $chart-black;
    text-anchor: middle;
  }
}
