<div class="settings-section">
  <h3>Settings</h3>

  <div layout="row" layout-align="space-between start" class="settings-content">
    <div>
      <h4>My Cash Flow Insights SM Accounts</h4>
      <p>Select which accounts will be included in the Cash Flow Insight Experience</p>
      <div ng-repeat="account in $ctrl.allAccounts">
        <md-checkbox aria-label="Select {{account.description}}" ng-model= "account.enrolled">
          {{account.description}}
        </md-checkbox>
      </div>
    </div>

    <div>
      <h4>Service Fee Account</h4>
      <p>Select which account you would like to be billed for all Cash Flow Insight service fees</p>
      <md-input-container class="settings-container">
        <md-select ng-model="$ctrl.sfaAccount" md-selected-text="$ctrl.sfaAccount.description" class="settings-select" aria-label="select account">
          <md-optgroup label="Accounts">
            <md-option ng-value="account" ng-repeat="account in $ctrl.allAccounts">{{account.description}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
  </div>

  <div class="settings-content">
    <h4>Invoices | Bills | Sync</h4>
    <p>Try Receivables, Payables and Accounting Software Sync at no cost for 60 days. Have your account and Tax ID numbers ready to enroll.</p>
  </div>

  <div class="settings-content">
    <h4>Delegation</h4>
    <p>Try Receivables, Payables and Accounting Software Sync at no cost for 60 days. Have your account and Tax ID numbers ready to enroll.</p>
  </div>
</div>