.settings-section {
  padding: 1.5rem;
}

.settings-content {
  padding: 2% 0;

  h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

.settings-container {
  width: 30rem;
}

.settings-select {
  font-size: 1.6rem;
}