/*
  The hex colors needs to come from somewhere, all charting colors are defined
  in this file.
*/
/* stylelint-disable color-no-hex */
$chart-black: #222222;
$chart-white: #ffffff;

$chart-blue-dark: #0f6ba8;
$chart-green: #6eb647; // #7bb856;
$chart-warn: #ff9a00;

$chart-gray-light: #a7afb6;
$chart-gray-dark: #62777f; // #687b86;
$chart-gray-darker: #4c565b;
/* stylelint-enable */
