/* Font sizes for use with SVG defined in `px` */
/* stylelint-disable unit-whitelist, unit-blacklist */
$chart-font-size-xl: 18px;
$chart-font-size-lg: 17px;
$chart-font-size-md: 15px;
$chart-font-size-sm: 14px;
/* stylelint-enable */
