@import '_colors';

.fab-menu {
  .md-fab {
    margin-top: -2.5rem;
    position: absolute;
    right: 6%;

    md-icon {
      fill: $cfi-lightest-blue;
      margin-top: 0.3rem;
    }
  }

  .md-button.md-fab {
    background-color: $white;
  }

  .md-button.md-fab:not([disabled]):hover,
  .md-button.md-fab:not([disabled]):focus {
    background-color: $cfi-lightest-gray;
  }
}
