<md-menu class="fab-menu" md-position-mode="target-right target" md-offset="15 7">
  <md-button ng-click="$mdMenu.open($event)" class="md-fab md-no-focus"
    aria-label="Primary action">
    <md-icon md-svg-icon="overflow" md-menu-origin></md-icon>
  </md-button>
  <md-menu-content role="menu">
    <md-menu-item>
      <md-button href="" ui-sref="help" aria-label="View Help">
        Help
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button href="" ui-sref="settings" aria-label="View Setting">
        Settings
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
