<div class="form-group field">
  <form class="verify-form" name="$ctrl.form">
    <div class="verify-password-container">
      <p class="instructions">Please enter your password to view your information</p>
      <md-input-container>
        <label>
          Password
        </label>
        <input
          id="password"
          name="password"
          type="password"
          aria-labeledby="passwordHeading"
          ng-model="$ctrl.fields.password.value"
          maxlength="20">
      </md-input-container>
      <div class="verify-button">
        <md-button
          type="submit"
          class="md-primary md-raised"
          ng-click="$ctrl.onVerify()">
          Continue
        </md-button>
      </div>
    </div>
  </form>
</div>
9
