@import '_colors';

.verify-password-container {
  text-align: center;

  md-input-container {
    width: 38rem;

    label {
      color: $gray-5a;
      margin-bottom: 0.5rem;
      text-align: left;
    }
  }
}
