
<div class="mobile-detail info">
  <div layout="column" layout-align="end end">
    <md-button
      class="mobile-detail-button md-icon-button"
      aria-label="close modal"
      ng-click="$ctrl.close()">
      <md-icon md-svg-icon="close"></md-icon>
    </md-button>
  </div>
</div>

<md-dialog-content>

  <div class="mobile-detail-content" ng-switch="$ctrl.view">
    <online-statements ng-switch-when="statements"></online-statements>
    <activity-additional-info ng-switch-when="info"></activity-additional-info>
    <div ng-switch-when="alerts"><h5>Alerts &amp; Preferences</h5></div>
    <activity-widget ng-switch-when="transactions" class="transactions" show-more="true" increment-by="40"></activity-widget>
    <help ng-switch-when="help"></help>
    <settings ng-switch-when="settings"></settings>
  </div>

</md-dialog-content>
