@import '_colors';

.mobile-detail {
  overflow: scroll;
}

.mobile-detail h6 {
  color: $cfi-dark-gray;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.md-button.mobile-detail-button {
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.mobile-detail-content {
  padding: 1rem 1.5rem;
}

.transactions-data {
  margin: 0 1rem;
  padding: 1rem;
}
