@import '_colors';
@import '_variables';

.more-button {
  text-align: center;
  width: 100%;

  svg {
    fill: $cfi-lightest-blue;
  }
}

.transactions-table {
  .pending {
    color: $gray-5a;
    font-style: italic;
  }

  @media (max-width: $screen-sm-min) {
    thead {
      visibility: hidden;
    }

    tr,
    td {
      display: block;
      line-height: 1.8rem;
      padding: 0.5rem 0.8rem;

      span {
        max-width: 62%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .description {
      :first-child {
        margin-left: -0.5rem;
      }

      .description-2 {
        display: block;
        margin-left: 12rem;
      }
    }

    tr:first-child {
      border-top: 0.1rem solid $gray-cb;
    }

    td {
      clear: left;
      line-height: 1.8;
      text-align: left;

      &:before {
        content: attr(data-th) ': ';
        display: inline-block;
        text-align: left;
        width: 12rem;
      }

      &:empty {
        padding: 0;

        &:before {
          content: none;
          display: none;
        }
      }
    }

    tbody {
      .fade-fast{
        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .transactions.layout-padding {
    padding: 0;
  }
}
