<div layout="row" layout-align="space-between center" class="spend-analysis-tools">
  <h6>All Transactions</h6>

  <md-button class="md-accent">Export</md-button>

  <div layout="row" class="sort-by">
    <label class="sort-by-label" layout-align="none center">Sort By:</label>
    <md-input-container class="sort-by-dropdown">
      <md-select
        ng-model="$ctrl.sortBy" 
        ng-change="$ctrl.onSortChange({sortBy: $ctrl.sortBy})">
        <md-option selected="selected" value="date">Date Ascending</md-option>
        <md-option value="-date">Date Descending</md-option>
        <md-option value="description">Description Ascending</md-option>
        <md-option value="-description">Description Descending</md-option>
        <md-option value="amount">Amount Ascending</md-option>
        <md-option value="-amount">Amount Descending</md-option>
        <md-option value="category.name">Category Ascending</md-option>
        <md-option value="-category.name">Category Descending</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div>
    <div class="spend-analysis-search-transactions">
      <input
        flex="95"
        type="text"
        name="searchQuery"
        aria-label="Search Transactions"
        placeholder="Search Transactions"
        ng-model="$ctrl.query" 
        ng-change="$ctrl.onSearch({query: $ctrl.query})"/>
      <md-icon md-svg-icon="search"></md-icon>
    </div>
  </div>
</div>
