@import '_colors';
@import '_variables';

activity-additional-info {
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 6rem;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $md-breakpoint-sm) {
      height: 0;
      margin-bottom: 0;
      visibility: hidden;
    }
  }

  h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 2rem 0;
  }
}

.account-additional-info {
  border-collapse: collapse;
  border-top: 0.01rem solid $cfi-gray;
  font-size: 1.6rem;
  width: 100%;

  th,
  td {
    border-bottom: 0.01rem solid $cfi-gray;
    padding: 1rem;
    text-align: left;
    vertical-align: top;
  }

  td {
    color: $cfi-gray;
  }

  th:after {
    content: ': ';
  }

  a {
    text-transform: uppercase;
  }

  .address > span {
    display: block;
  }

  @media (min-width: $md-breakpoint-sm) {
    margin-bottom: 4rem;
  }
}

.account-additional-info-secondary {
  font-size: 1.6rem;
  width: 100%;

  th,
  td {
    padding: 0.5rem 0;
  }

  th {
    color: $cfi-gray;
    font-weight: normal;
    text-align: left;
  }

  td {
    text-align: right;
  }

  @media (min-width: $md-breakpoint-sm) {
    max-width: 30rem;
  }
}
