@import 'colors';

offers {
  border-top: 0.1rem $gray-ab solid;
  display: block;
  margin: auto;
  margin-bottom: 4rem;
  max-width: 120rem;
  overflow: hidden;

  .offers {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: 2rem;

    .offer {
      margin-bottom: 2rem;
      padding: 0 1.5rem;

      .offer-content {
        background-color: $white;
        box-shadow: 0 0.5rem 0.2rem -0.4rem rgba(0, 0, 0, 0.5);
        font-size: 1.4rem;
        min-height: 26rem;
        padding: 2rem;
      }
    }
  }
}
