<h5>Spending Totals</h5>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Total</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody ng-if="!$ctrl.subcategories">
    <tr ng-repeat="category in $ctrl.spending.all track by $index">
      <td>
        <a ng-click="$ctrl.subcategories = category.subcategories">
          {{category.name}}
        </a>
      </td>
      <td>{{category.amount | currency}}</td>
      <td>{{category.percent * 100 | number:0}}%</td>
    </tr>
  </tbody>
  <tbody ng-if="$ctrl.subcategories">
    <tr ng-repeat="category in $ctrl.subcategories track by $index">
      <td>{{category.name}}</td>
      <td>{{category.amount | currency}}</td>
      <td>{{category.percent * 100 | number:0}}%</td>
    </tr>
  </tbody>
  <tfoot ng-if="$ctrl.subcategories">
    <tr>
      <td>
        <a ng-click="$ctrl.subcategories = undefined">
          Go back
        </a>
      </td>
    </tr>
  </tfoot>
</table>
