@import '_colors';
@import '_variables';

account-summary {
  background-color: $white;
  color: $cfi-dark-gray;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  overflow: hidden;
  padding: 3.5rem 2rem;

  .card-title {
    font-size: 2rem;
    padding-top: 2rem;

    @media (max-width: $md-breakpoint-sm) {
      margin-top: -0.5rem;
      padding-bottom: 1rem;
      padding-top: 0;
    }
  }

  .label {
    color: $cfi-gray;
  }

  .summary-data {
    width: 100%;

    .layout-row {
      padding-bottom: 1.5rem;
    }
  }
}
