<md-input-container>
  <md-select class="account-select"
    md-container-class="account-select"
    ng-change="$ctrl.onSelect({accountId: $ctrl.selectedId})"
    ng-model="$ctrl.selectedId"
    aria-label="Select an account">
    <md-option
      ng-value="account.id"
      ng-repeat="account in $ctrl.accounts | orderBy: ['description', '-availableBalance']">
      <span class="banner-account-name">
        {{account.description}}
      </span>
      <span class="banner-account-number">{{account.numberMasked}}</span>
      <span class="banner-account-balance">
        {{account.availableBalance | currency:'$'}}
      </span>
    </md-option>
  </md-select>
</md-input-container>
