@import '_colors';
@import '_variables';

md-input-container {
  margin-bottom: 0.75rem;
}

.account-select {
  md-content,
  md-select-menu {
    max-height: 60rem;
  }

  md-option {
    line-height: 3rem;

    .md-text {
      overflow: visible;
      width: 100%;
    }

    .banner-account-name {
      font-size: 1.6rem;
      margin-bottom: -0.5rem;
      max-width: 62%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .banner-account-number {
      font-size: 1.4rem;
      margin-top: 0.2rem;
      position: absolute;
    }

    .banner-account-balance {
      font-size: 1.6rem;
      margin-top: -2rem;
      position: absolute;
      right: 1rem;
    }
  }

  .md-select-value {
    border-bottom-color: $gray-ab;
    min-width: 32rem;

    .banner-account-balance {
      display: none;
    }
  }

  .md-select-value > span:not(.md-select-icon) {
    white-space: normal;
  }

  .md-select-icon {
    color: $cfi-lightest-blue;
    padding-left: 1rem;
  }

  @media (max-width: $md-breakpoint-sm) {
    md-option {
      border-bottom: 0.1rem solid $wbb-blue;
      min-height: 10rem;

      .banner-account-name {
        display: block;
        margin-top: 0;
        position: relative;
        right: 0;
      }
    }
  }

  @media (min-width: $md-breakpoint-sm) {
    md-option {
      .md-select-value {
        width: 50rem;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    md-option {
      span {
        display: inline-block;
        max-width: 34rem;
        white-space: nowrap;
      }
    }
  }

  @media (max-width: $screen-sm-min) {
    max-width: 32rem;

    span {
      display: inline-block;
      max-width: 27rem;
      white-space: nowrap;
    }
  }
}

// This prevents the account-list md-select from changing color when focused
.account-select:not([disabled]):focus .md-select-value {
  color: $white;
}
