<div ng-if="$ctrl.isInitialized">

  <div class="chart-container">
    <cashflow-chart></cashflow-chart>
  </div>

  <h6 ng-if="$ctrl.cashflow.options.show" class="transactions-date-range">
    Transactions from {{$ctrl.cashflow.options.from | date: 'MMM dd yyyy'}}
    - {{$ctrl.cashflow.options.to | date: 'MMM dd yyyy'}}
  </h6>

  <div class="timeline-wizards">
    <md-button>
      <md-icon md-svg-icon="plus"></md-icon>
      <span>Cash In</span>
    </md-button>
    <md-button>
      <md-icon md-svg-icon="minus"></md-icon>
      Cash Out
    </md-button>
    <md-button>
      Transfer
    </md-button>
  </div>

  <div class="timeline-activity-tools">
    <div
      layout="row"
      class="search-transactions"
      ng-class="{focus: $ctrl.searchFocus}">
      <input
        flex="95"
        type="text"
        name="searchQuery"
        placeholder="Search Transactions"
        ng-model="$ctrl.cashflow.options.query"
        ng-focus="$ctrl.searchFocus = true"
        ng-blur="$ctrl.searchFocus = false"
        ng-change="$ctrl.searchTransactions()" />
      <md-icon flex="5" md-svg-icon="search"></md-icon>
    </div>
    <div class="sort-transactions">
      <md-select
        ng-model="$ctrl.cashflow.options.sort"
        placeholder="Sort by"
        class="transactions-sort"
        md-selected-text="'Sort by ' + $ctrl.cashflow.options.sort"
        md-on-close="$ctrl.sortTransactions()">
        <md-option selected="selected">Date Ascending</md-option>
        <md-option>Date Descending</md-option>
        <md-option>Due Date Ascending</md-option>
        <md-option>Due Date Descending</md-option>
        <md-option>Description Ascending</md-option>
        <md-option>Description Descending</md-option>
        <md-option>Cash Out Ascending</md-option>
        <md-option>Cash Out Descending</md-option>
        <md-option>Cash In Ascending</md-option>
        <md-option>Cash In Descending</md-option>
      </md-select>
    </div>
  </div>

  <activity-table transactions="$ctrl.cashflow.transactions.selected"></activity-table>

</div>

<div ng-show="$ctrl.isFetching">
  <h3>Loading...</h3>
</div>
