@import '_colors';
@import '_variables';

timeline {
  display: block;
  overflow: hidden;
  padding-top: 4rem;

  .chart-container {
    margin: 0 auto;
    width: 100%;
  }

  .timeline-wizards {
    button {
      color: $cfi-blue;
    }

    svg {
      fill: $cfi-blue;
      height: 1.4rem;
      margin: 0.4rem 1rem 0 0;
      vertical-align: middle;
      width: 1.4rem;
    }
  }

  .sort-transactions {
    display: table;
    font-size: 1.4rem;
    text-transform: uppercase;

    &:not([disabled]):focus .md-select-value {
      color: $cfi-blue;
    }
  }
}

@media (min-width: $md-breakpoint-sm) {
  .timeline-activity-tools {
    overflow: auto;

    .search-transactions {
      float: right;
      vertical-align: bottom;
      width: 50%;
    }

    .sort-transactions {
      float: left;
      vertical-align: bottom;
    }
  }
}

@media (min-width: $md-breakpoint-md) {
  .timeline-activity-tools .search-transactions {
    width: 33%;
  }
}
