@import '_colors';
@import '_variables';

.mega-header-container {
  height: 32rem;
  margin: 0 auto;
  max-width: $content-max-width;
  position: relative;
}

.logo-container {
  background-color: rgba($cfi-darkest-gray, 0.9);
  border-right: 0.5rem solid $wbb-orange;
  height: 2.3rem;
  padding: 1.6rem 0;
  position: absolute;
  right: 2%;
  top: 0;
  width: 25rem;

  .cfi-logo {
    background-image: url('images/CFI_logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
    margin-top: 0.2rem;
  }
}

@media (max-width: $md-breakpoint-xs) {
  .logo-container {
    border-right: 0.7rem solid $wbb-orange;
    height: 7rem;
    padding: 1.6rem 0;
    position: relative;
    right: 0;
    width: inherit;

    .cfi-logo {
      height: 38%;
      margin-top: 2.2rem;
    }
  }
}

.mega-background {
  background-color: $cfi-gray-f1;
  height: 32rem;
  position: absolute;
  width: 100%;

  &:after {
    background-image: url('images/MegaBCKimage_opt.png');
    background-position: 100% 25%;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0.95;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}

@media (max-width: $md-breakpoint-xs) {
  .mega-background {
    background-image: url('images/Mega_background_busGuys_600bp.png');
    background-position: 100% 100%;
    height: 24rem;
  }
}

@media (max-width: $md-breakpoint-xs) {
  .mega-header-container {
    height: 10rem;
  }
}

.mega-text {
  font-size: 2.5rem;
  font-weight: 500;
  left: 8rem;
  position: absolute;
  top: 11rem;
}
