@import '_colors';
@import '_variables';

.search-transactions {
  background: $white;
  border: 0.2rem solid $cfi-lightest-gray;

  input,
  md-icon {
    height: 5rem;
    padding: 1rem;
  }

  input {
    background: transparent;
    border: 0;
    /* This input is wrapped inside of a container div, so we don't want to
       draw a lot of attention to that by allowing the outline to highlight it
       without highlighting the icon or surrounding border, which we make to
       look like the input border. */
    /* stylelint-disable no-unsupported-browser-features */
    outline: none;
    /* stylelint-enable */
  }

  md-icon {
    min-width: 5rem;
  }

  svg {
    fill: $cfi-lightest-gray;
  }

  &.focus {
    border: 0.2rem solid $cfi-lightest-blue;

    svg {
      fill: $cfi-blue;
    }
  }
}

.advanced-search-transactions {
  margin-bottom: 2rem;

  h2 {
    border-bottom: 0.1rem solid $cfi-darkest-gray;
    color: $black;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 2rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
  }

  label {
    color: $cfi-darkest-gray;
  }

  md-input-container {
    margin-top: 1.5rem;

    .md-errors-spacer {
      min-height: 0;
    }
  }
}

@media (min-width: $md-breakpoint-sm) {
  .advanced-search-box + .advanced-search-box {
    margin: 0 0 0 4rem;
  }
}

.toggle-advanced-search {
  text-align: right;
}

.advanced-search-actions {
  text-align: right;

  li {
    display: inline;
    margin-left: 2rem;
  }
}

.toggle-advanced-search button,
.advanced-search-actions .secondary {
  background: none;
  border: none;
  color: $cfi-light-blue;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.9rem 0.3rem;
  text-align: right;

  &:hover span {
    border-bottom: 0.1rem solid $cfi-light-blue;
    color: $cfi-lightest-blue;
    padding-bottom: 0;
  }
}

.filters-container  {
  .filter-select {
    border-color: $cfi-lightest-gray;
    border-width: 0.2rem;

    &:focus {
      border: 0.2rem solid $cfi-lightest-blue;
    }
  }

  .md-input-focused .filter-select {
    border: 0.2rem solid $cfi-lightest-blue;
  }
}

wbb-filter-select {
  display: block;
  margin: 2rem 0;
}

searchable-transactions .transactions-sort,
searchable-transactions .transactions-export {
  font-size: 1.4rem;
  text-transform: uppercase;

  &:not([disabled]):focus .md-select-value {
    color: $cfi-blue;
  }
}

@media (min-width: $md-breakpoint-xs) {
  .additional-transactions-tools > div + div {
    text-align: right;

    md-select {
      display: inline-block;
      margin-left: 1rem;
    }
  }
}
