<!-- TODO: show spinner until ready -->
<div class="dashboard-layout" ng-if="$ctrl.ready">

  <account-summary
    account="$ctrl.account">
  </account-summary>

  <div class="widget-container" layout="column" layout-gt-sm="row"
    ng-if="!$ctrl.detail.isActive">
    <div flex="auto" flex-gt-sm="60">

      <!-- Activity widget (large) -->
      <widget-card widget="Activity" pinned="true"
        on-open-detail="$ctrl.openDetail('activity')">
        <activity-widget></activity-widget>
      </widget-card>

      <div class="widget mini" hide-sm hide-xs></div>
      <div class="widget mini" hide-sm hide-xs></div>

    </div>
    <div flex="auto" flex-gt-sm="40" layout-sm="row" layout-wrap>

      <div flex="100" flex-sm="50">
        <widget-card widget="Spend Analysis" on-open-detail="$ctrl.openDetail('spendanalysis')">
          <spend-analysis-widget></spend-analysis-widget>
        </widget-card>
      </div>

      <div flex="100" flex-sm="50">
        <widget-card widget="Timeline" on-open-detail="$ctrl.openDetail('timeline')">
          <timeline-widget></timeline-widget>
        </widget-card>
      </div>

      <div flex="100" flex-sm="50">
        <widget-card widget="Trend" on-open-detail="$ctrl.openDetail('trend')">
          <trend-widget></trend-widget>
        </widget-card>
      </div>

    </div>
    <div flex="auto" hide-gt-sm>
      <div class="widget mini"></div>
      <div class="widget mini"></div>
    </div>
  </div>

  <offers offers="$ctrl.offers" ng-if="!$ctrl.detail.isActive"></offers>

</div>

<!-- dashboard widget detail view -->
<detail-view
  is-active="$ctrl.detail.isActive"
  current-tab="$ctrl.detail.tab"
  on-deactivate="$ctrl.closeDetail()"
  on-tab-change="$ctrl.changeDetailTab(tab)">
</detail-view>
<!-- detail view backdrop animation -->
<detail-view-animate toggle="$ctrl.detail.isActive"></detail-view-animate>
