<div layout="column" flex layout-fill ng-cloak>

  <h4>Transactions By Date</h4>

  <section ng-repeat="day in $ctrl.transactionsByDate | limitTo: ($ctrl.limitTo || 21)">
    <md-subheader class="md-primary">{{day.date | date}}</md-subheader>
    <md-list layout-padding>
      <md-list-item class="md-3-line" ng-repeat="transaction in day.transactions">
        <div class="md-list-item-text">
          <h3>{{transaction.description}}</h3>
          <h4>{{transaction.statusInfo.text}}</h4>
          <p>
            {{transaction.amount | currency}}
          </p>
        </div>
      </md-list-item>
    </md-list>
  </section>

</div>
